// Standard styling, you can ignore this
body {
	align-items: center;
	display: flex;
	font-family: Helvetica, sans-serif;
	height: 100vh;
	justify-content: center;
	margin: 0;
	
	div {
		font-size: 15px;
		margin-top: 15px;
		text-align: center;
	}
}

// Custom radio buttons
form {
	&#smileys {
		input[type="radio"] {
			-webkit-appearance: none;
			width: 90px;
			height: 90px;
			border: none;
			cursor: pointer;
			transition: border .2s ease;
			filter: grayscale(100%);
			margin: 0 5px;
			transition: all .2s ease;
			
			&:hover, &:checked {
				filter:	grayscale(0);
			}
			
			&:focus {
				outline: 0;
			}
			
			&.happy {
				background: url('https://res.cloudinary.com/turdlife/image/upload/v1492864443/happy_ampvnc.svg') center;
				background-size: cover;
			}
			
			&.neutral {
				background: url('https://res.cloudinary.com/turdlife/image/upload/v1492864443/neutral_t3q8hz.svg') center;
				background-size: cover;
			}
			&.sad {
				background: url('https://res.cloudinary.com/turdlife/image/upload/v1492864443/sad_bj1tuj.svg') center;
				background-size: cover;
			}
		}
	}
}

.mtt {
	position: fixed;
	bottom: 10px;
	right: 20px;
	color: #999;
	text-decoration: none;
	
	span {
		color: #e74c3c;
	}
	
	&:hover {
		color: #666;

		span {
			color: #c0392b;
		}
	}
}